<mat-card>
  <mat-card-header>
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.datePublication | date}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <h4>Authors: </h4>
    <ng-container *ngFor="let author of book.authors; let isLast=last">
      {{author.firstname}} {{author.lastname | commaPipe: isLast}}
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      color="primary"
      (click)="editBook.emit(book.id)">
      EDIT
  </button>
  <button
      mat-stroked-button
      color="warn"
      (click)="removeBook.emit(book.id)">
      REMOVE
  </button>
  </mat-card-actions>
</mat-card>