<!-- actions -->
<div class="row">
	<div class="col-8 d-flex justify-content-end align-self-center">
		<button
      mat-flat-button
      color="primary"
      (click)="navigateToCreateBookPage()">
      Create a new book
    </button>
  </div>

  <mat-form-field class="col">
    <mat-label>Sort the books</mat-label>
    <mat-select
      [(value)]="selected"
      (selectionChange)="sortBooks($event)">
      <mat-option
        *ngFor="let item of selectSortBooks"
        [value]="item.codeName">
        {{item.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- list -->
<div class="row">
  <app-list-books
    class="col-12"
    [books]="books$ | async"
    (editBookEvent)="editBook($event)"
    (removeBookEvent)="removeBook($event)">
  </app-list-books>
</div>