<!-- title -->
<h1 mat-dialog-title>Author</h1>

<!-- content -->
<div mat-dialog-content>
  <form
    class="d-flex flex-column"
    [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        placeholder="Firstname"
        formControlName="firstname">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Lastname"
        formControlName="lastname">
    </mat-form-field>
  </form>
</div>

<!-- actions -->
<div mat-dialog-actions>
  <button
    color="primary"
    mat-stroked-button
    [disabled]="form.invalid"
    [mat-dialog-close]="form.value">
    Save
  </button>
  <button
    mat-stroked-button
    (click)="cancel()">
    Cancel
  </button>
</div>