@import 'variables';

.book-form {
  &__form {
    display: flex;
    flex-direction: column;
    max-width: $defaultPx*50;
    margin: 0 auto;
    padding: $defaultPx*2;
  }

  &__authors {
    display: flex;
    align-items: baseline;
  }

  &__chips {
    flex: 3;
  }

  &__form-button {
    margin-top: $defaultPx*2;
  }
}