<form
  class="book-form__form"
  [formGroup]="form">

	<!-- Add a title -->
	<mat-form-field>
		<input
      matInput
      placeholder="Title"
      formControlName="title">
    <mat-error *ngIf="form.get('title').hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <!-- Add author -->
  <div class="book-form__authors">
    <mat-form-field class="book-form__chips">
      <mat-chip-list formControlName="authors">
        <mat-chip
          *ngFor="let author of form.get('authors').value"
          (click)="openDialog(author)"
          (removed)="removeChipItem(author)">
          {{author.firstname}} {{author.lastname}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-error *ngIf="form.get('authors').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Add a date publication -->
  <mat-form-field>
    <input
      matInput
      [min]="minDate"
      [max]="maxDate"
      [matDatepickerFilter]="myFilter"
      [matDatepicker]="picker"
      placeholder="Choose a date"
      formControlName="datePublication">
    <mat-error *ngIf="form.get('datePublication').hasError('required')">
      This field is required
    </mat-error>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Add a ISBN -->
  <mat-form-field>
    <input
      matInput
      placeholder="ISBN"
      formControlName="ISBN">
    <mat-error *ngIf="form.get('ISBN').hasError('pattern')">
      Please enter correct ISBN
    </mat-error>
  </mat-form-field>

  <!-- Actions -->
  <button
    mat-raised-button
    type="button"
    color="primary"
    class="book-form__form-button"
    [disabled]="form.invalid"
    (click)="createNewBook()">
    {{labelActionButton}}
  </button>
  <button
    mat-stroked-button
    type="button"
    class="book-form__form-button"
    (click)="cancelEvent.emit()">
    Cancel
  </button>
</form>