<!-- books temlate -->
<div
  class="pb-5"
  *ngIf="isBooks; else notFoundTmp">
  <div class="row">
    <div
      class="col-4"
      *ngFor="let book of books">
      <!-- item -->
      <app-item-book
        class="mt-4"
        [book]="book"
        (editBook)="editBook($event)"
        (removeBook)="removeBook($event)">
      </app-item-book>
    </div>
  </div>
</div>

<!-- not found temlate -->
<ng-template #notFoundTmp>
  <h2>not found books...</h2>
</ng-template>